 /*  -------- ANIMATIONS -------- */
:root {
    --animate-duration: 1.5s;
    --animate-delay: 0.9s;
  }
  
 /*  -------- HTML, BODY -------- */
 html, body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
	text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

 /*  -------- NAVBAR -------- */
 .navbar-light .navbar-toggler {
    outline: none;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #278FFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #278FFF;
}

.logo { height: 5vh;}



 /*  --------   REUSABLE COMPONENTS -------- */
.text-color { color: #278FFF;}

.btn-ghost {
    border: 2px solid #278FFF;
    color:  #278FFF;
} 

.btn-ghost:hover {
    background-color: #278FFF;
    color:  #fff;
} 

.btn-fill {
    background-color: #278FFF;
    color:  #fff;
} 

.btn-fill:hover {
    background-color: #fff;
    color:  #278FFF;
    border: 2px solid #278FFF;
} 

.btn-space { margin-left: -2rem}


 /*  --------   MAIN -------- */
.welc-text { 
    font-size: 1.5rem;
    font-weight: 600;
}

.angopay-card { 
    height: 80vh;
    animation: updown 2s ease infinite;
} 



@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}




 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .angopay-card { height: 90vh;} 
    .btn-space { margin-left: -2rem}
}
    
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-collapse { margin-right: 5rem;}
    .btn-space { margin-left: -5rem}
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-collapse { margin-right: 10rem;}
    .btn-space { margin-left: -8rem}
 }