 /*  -------- ANIMATIONS -------- */
:root {
    --animate-duration: 1.5s;
    --animate-delay: 0.9s;
  }
  
 /*  -------- HTML, BODY -------- */
 html, body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
	text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

 /*  -------- NAVBAR -------- */
 .navbar-light .navbar-toggler {
    outline: none;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #278FFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #278FFF;
}

.bg-navbar { box}

 .logo { height: 5vh;}



 /*  --------   REUSABLE COMPONENTS -------- */
.text-color { color: #278FFF;}

.btn-ghost {
    border: 2px solid #278FFF;
    color:  #278FFF;
} 

.btn-ghost:hover {
    background-color: #278FFF;
    color:  #fff;
} 

.btn-fill {
    background-color: #278FFF;
    color:  #fff;
} 

.btn-fill:hover {
    background-color: #fff;
    color:  #278FFF;
    border: 2px solid #278FFF;
} 

 /*  --------   MAIN -------- */

 main { background-color: ;}
.welc-text { 
    font-size: 1.5rem;
    font-weight: 600;
}

.AngoPay-Card { 
    height: 80vh;
    animation: updown 2s ease infinite;
} 



@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}


/* git add .
git commit -m "test"
git push origin master */